<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="/images/icons.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    molestias repellat quisquam reprehenderit sapiente nulla veniam praesentium,
    beatae iure iste, quam commodi vel alias sit labore ducimus earum itaque
    nihil.
  </div>
</div>
