<section class="block block-domain">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">The best webhosting Atarting at per month</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
        laborum beatae quae perferendis, minima et odio in placeat quam
        consequuntur.
      </p>
    </header>
    <div class="input-group domain__search">
      <input
        class="input"
        type="text"
        placeholder="Enter domain name here . . ."
      />

      <button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="/images/icons.svg#search"></use>
        </svg>
        Search
      </button>
    </div>

    <ul class="list block-domain__prices">
      <li class="list__item">.com $9.26</li>
      <li class="list__item">
        <span class="badge badge--secondary"> .sg 7.91 </span>
      </li>
      <li class="list__item">.space $12.76</li>
      <li class="list__item">.info $14.15</li>
      <li class="list__item">.net $17.55</li>
      <li class="list__item">More</li>
    </ul>
  </div>
</section>
