<div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__img">
        <img src="/images/testimonial.jpg" alt="Happy customer photo">
        <span class="icon-container icon-container--accent ">
          <svg class="icon icon--white icon--small">
            <use xlink:href="/images/icons.svg#quotes"></use>
          </svg>
        </span>          
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis
          excepturi id, natus fugiat ipsum voluptatibus fuga doloribus? Corporis id
          nulla ex molestiae! Dignissimos labore quas id soluta rem dolor.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="/images/icons.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__auther">Jone Smith</h3>
              <p class="media__description quote__organization">ABC Company</p>
            </div>
          </div>
        </footer>
    </div>
  </div>